# -------- SSH (PER SERVER) --------
SSH1_HOST=
SSH1_PORT=
SSH1_TYPE=
SSH1_USER=
SSH1_PASS=

SSH2_HOST=
SSH2_PORT=
SSH2_TYPE=
SSH2_USER=
SSH2_PASS=

SSH3_HOST=
SSH3_PORT=
SSH3_TYPE=
SSH3_USER=
SSH3_PASS=

SSH4_HOST=
SSH4_PORT=
SSH4_TYPE=
SSH4_USER=
SSH4_PASS=

SSH5_HOST=
SSH5_PORT=
SSH5_TYPE=
SSH5_USER=
SSH5_PASS=

# -------- SMTP --------
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=

# Multiple recipients (comma-separated)
EMAIL_TO=

# -------- TELEGRAM Servers--------
TG_TOKEN=
TG_CHAT_ID=






